/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.fuente{
    -fx-font-family: "Poiret One";
    -fx-font-size: 36px;
}

.fuente2{
    -fx-font-family: "DK Honeyguide Caps";
    -fx-font-size: 12px;
}